@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="width:500px;text-align:center;margin:10% auto 0">
        <hgroup class="title">
            <h2>Forgot Password Confirmation</h2>
        </hgroup>
        <div>
            <p>
                Please check your email address to reset your password.
            </p>
        </div>
    </div>    
</body>
</html>
