@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="width:500px;text-align:center;margin:10% auto 0">
        <hgroup class="title">
            <h2>Reset password confirmation</h2>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

    </div>
</body>
</html>
