<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mposadmin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mposadmin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mposadmin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mposadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MerchantServiceDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sa2klmtntq.database.windows.net,1433;Initial Catalog=MerchantService;User ID=justfollowuser@sa2klmtntq;Password=Promact2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MerchantService.DomainModel.DataContext.MerchantServiceDataContext, MerchantService.DomainModel" MigrationConfiguration="MerchantService.DomainModel.Migrations.Configuration, MerchantService.DomainModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MerchantServiceDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sa2klmtntq.database.windows.net,1433;Initial Catalog=MerchantService;User ID=justfollowuser@sa2klmtntq;Password=Promact2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>