<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <appSettings>    
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ApiPath" value="http://posuat.promactinfo.com/" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="AdminApiPath" value="http://posadmin.promactinfo.com/" />
  </appSettings>
  <connectionStrings>
    <add name="MerchantServiceDataContext"
      connectionString="Server=tcp:sa2klmtntq.database.windows.net,1433;Database=MerchantService;User ID=justfollowuser@sa2klmtntq;Password=Promact2015;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
</configuration>