<div ng-controller="LedgersController">
    <div class="panel panel-default">
        <div class="panel-heading"><span ng-hide="newLedgerPanel"><span string-replace="ledgerlist"></span></span><span ng-show="newLedgerPanel"><span string-replace="addledger"></span></span></div>
        <div class="panel-body">
            <div ng-hide="newLedgerPanel">
                <button string-replace="addledger" name="add-ledger-btn" class="btn btn-primary pull-right" ng-click="addNewLedger()"></button>
                <div class="clearfix"></div>
                <br />
            </div>
            <div ng-show="newLedgerPanel">
                <form name="addLedger" novalidate>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4"><span string-replace="ledgername"></span>:</label>
                            <div class="col-sm-4" ng-class="{ 'has-error': addLedger.ledger.$touched && addLedger.ledger.$invalid }">
                                <input type="text" class="form-control" name="ledger" placeholder="Ledger Name" ng-model="ledger.LedgerName" maxlength="50" required auto-focus="isFocusIn">
                                <span class="error">*</span>
                            </div>
                            <div class="help-block" ng-messages="addLedger.ledger.$error" ng-if="addLedger.ledger.$touched">
                                <p ng-message="required" class="text-error">{{ledgerNameRequired}}</p>
                            </div>
                            <p class="text-error" ng-show="isLedgerExists">{{legderErrorMessage}}</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4"><span string-replace="Under"></span>:</label>
                            <div class="col-sm-4">
                                <ui-select ng-model="ledger.GroupId" name="under">
                                    <ui-select-match placeholder="Select Group">{{$select.selected.GroupName}}</ui-select-match>
                                    <ui-select-choices repeat="groups.GroupId as groups in groupList | filter: $select.search">
                                        <div ng-bind-html="groups.GroupName | highlight: $select.search" name="{{groups.GroupName}}"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="control-label col-sm-4 m-tb-10"> <span string-replace="mailingdetails"></span></h4>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4"><span string-replace="name"></span>:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="" name="name" placeholder="Name" ng-model="ledger.Name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4"><span string-replace="address"></span>:</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" name="address" ng-model="ledger.Address" maxlength="250"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4"><span string-replace="state"></span>:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="state" id="" ng-model="ledger.State" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button name="submit-btn" string-replace="submitpos" class="btn btn-primary m-r-10" ng-hide="isUpdate" ng-click="AddLedger(ledger)" ng-disabled="addLedger.$invalid" />
                                <button value="Update" string-replace="update" class="btn btn-primary m-r-10" ng-show="isUpdate" ng-click="updateLedger(ledger)" />
                                <button value="Cancel" string-replace="cancelpos" class="btn btn-default" ng-click="cancelLedgerDetail()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-hide="newLedgerPanel">
                <table class="table table-striped table-bordered table-hover" name="ledger-grid">
                    <thead>
                        <tr>
                            <th><span string-replace="ledgername"></span></th>
                            <th><span string-replace="Under"></span></th>
                            <th><span string-replace="name"></span></th>
                            <th><span string-replace="address"></span></th>
                            <th><span string-replace="state"></span></th>
                            <th><span string-replace="branch"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="ledger in ledgerList| itemsPerPage: 5">
                            <td>{{ledger.LedgerName}}</td>
                            <td>{{ledger.GroupName}}</td>
                            <td>{{ledger.Name}}</td>
                            <td>{{ledger.Address}}</td>
                            <td>{{ledger.State}}</td>
                            <td>{{ledger.BranchName}}</td>
                            <td>
                                <div class="action-td">
                                    <a title="Edit" name="ledger-edit" ng-click="editLedgerAccount(ledger.LedgerId)" ng-hide="ledger.IsNotEditable"><i class="fa fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="ledgerList.length >0" style="text-align:center">
                    <dir-pagination-controls boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div id="busyindicator" class="busy-indicator" ng-show="isDataLoading">
            <img src="/Content/Images/Loader.gif" />
        </div>
    </div>
</div>
