<div>
    <div class="panel panel-default">
        <div class="panel-heading"><span string-replace="accountingsummary"></span></div>
        <div class="panel-body">
            <div>
                <button class="btn btn-primary pull-right"><span string-replace="addentry"></span></button>
                <div class="clearfix"></div>
                <br />
                <div class="table-div">
                    <table class="table table-striped table-bordered table-hover" name="acount-grid">
                        <thead>
                            <tr>
                                <th><span string-replace="ledger"></span></th>
                                <th><span string-replace="credit"></span></th>
                                <th><span string-replace="debit"></span></th>
                                <th><span string-replace="comment"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>abc</td>
                                <td>22222</td>
                                <td>44</td>
                                <td>Comment</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="detail-div form-horizontal">
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            <label><span string-replace="branch"></span></label>
                        </div>
                        <div class="col-lg-3">
                            <label><span string-replace="ledger"></span></label>
                        </div>
                        <div class="col-lg-2">
                            <label><span string-replace="credit"></span></label>
                        </div>
                        <div class="col-lg-2">
                            <label><span string-replace="debit"></span></label>
                        </div>
                        <div class="col-lg-1">
                            <label><span string-replace="branch"></span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <ui-select ng-model="" ng-change="" name="branch">
                                <ui-select-match placeholder="Select"></ui-select-match>
                                <ui-select-choices repeat="">
                                    <div ng-bind-html="" name=""></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-lg-3">
                            <ui-select ng-model="" ng-change="" name="branch">
                                <ui-select-match placeholder="Select"></ui-select-match>
                                <ui-select-choices repeat="">
                                    <div ng-bind-html="" name=""></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="credit">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="debit">
                        </div>
                        <div class="col-lg-1">
                            <a title="Add" style="font-size:25px" class="pointer" name="add-icon" ng-click=""><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button class="btn btn-primary m-r-10"><span string-replace="submitpos"></span></button>
                    <button class="btn btn-default"><span string-replace="cancelpos"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>