<div ng-controller="SalesPurchaseVoucherController" ng-init="getLedgerList(false)">
    <div class="panel panel-default">
        <div class="panel-heading"><span string-replace="purchasevoucher"></span></div>
        <div class="panel-body">
            <div class="form-horizontal">
                <form name="addSales" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="purchaseno"></span>.:</label>
                                <div class="col-sm-8">
                                    <label class="control-label">{{salesVoucherCount}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="supplierinvoiceno"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="supplier-invoice" class="form-control" ng-model="salesPurchaseVouchers.SupplierInvoiceNo" maxlength="10" auto-focus="isFocusIn" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="partysacname"></span>:</label>
                                <div class="col-sm-8" ng-class="{ 'has-error': addSales.accountName.$touched && addSales.accountName.$invalid }">
                                    <ui-select name="accountName" ng-model="salesPurchaseVouchers.PartyAccountId" ng-change="getSelectedAccount(salesPurchaseVouchers)" required>
                                        <ui-select-match placeholder="Select Account">{{$select.selected.LedgerName}}</ui-select-match>
                                        <ui-select-choices repeat="ledgers.LedgerId as ledgers in ledgerList | filter: $select.search">
                                            <div ng-bind-html="ledgers.LedgerName | highlight: $select.search" name="{{ledgers.LedgerName}}"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="error">*</span>
                                    <div class="help-block" ng-messages="addSales.accountName.$error" ng-if="addSales.accountName.$touched">
                                        <p ng-message="required" class="text-error">{{partyAccountRequired}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="purchaseledger"></span>:</label>
                                <div class="col-sm-8" ng-class="{ 'has-error': addSales.salesLeadger.$touched && addSales.salesLeadger.$invalid }">
                                    <ui-select name="salesLeadger" ng-model="salesPurchaseVouchers.AccountId" ng-change="changeReceivedFromLedger($select.selected.LedgerName,salesPurchaseVouchers.AccountId)" required>
                                        <ui-select-match placeholder="Select Leadger">{{$select.selected.LedgerName}}</ui-select-match>
                                        <ui-select-choices repeat="ledgers.LedgerId as ledgers in purchaseLedgerList | filter: $select.search">
                                            <div ng-bind-html="ledgers.LedgerName | highlight: $select.search" name="{{ledgers.LedgerName}}"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="error">*</span>
                                    <div class="help-block" ng-messages="addSales.salesLeadger.$error" ng-if="addSales.salesLeadger.$touched">
                                        <p ng-message="required" class="text-error">{{selectPurchaseLedger}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr />
                <div class="form-horizontal">
                    <div>
                        <div class="row form-group">
                            <div class="col-lg-3">
                                <label class="control-label"><span string-replace="item"></span></label>
                                <p class="text-error m-b-0" ng-show="isSelected"> {{itemRequired}} </p>
                                <p class="text-error m-b-0" ng-show="isItemExists"> {{itemExists}} </p>
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label"><span string-replace="amount"></span></label>
                                <p class="text-error m-b-0" ng-show="isAmount"> {{amountRequired}} </p>
                                <p class="text-error m-b-0" ng-show="isAmountZero"> {{amountZero}} </p>
                                <p class="text-error m-b-0" ng-hide="isValidAmount"> <span>{{validAmountError}}</span> </p>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-lg-3">
                                <ui-select name="item-id" ng-model="salesPurchaseDetail.ItemId" ng-change="receiptLedgerSelectedChange($index,salesPurchaseDetail.ItemId,$select.selected.ItemNameEn)">
                                    <ui-select-match placeholder=" Select Item">{{$select.selected.ItemNameEn}}</ui-select-match>
                                    <ui-select-choices repeat="items.Id as items in itemList | filter: $select.search">
                                        <div ng-bind-html="items.ItemNameEn | highlight: $select.search" name="{{items.ItemNameEn}}"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="" name="itemtext" placeholder="0" ng-model="amount" class="form-control" maxlength="8" />
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" name="add-btn" ng-click="addNewLedger(salesPurchaseDetail.ItemId,amount)"><span string-replace="add"></span></button>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="test in salesPurchaseDetails">
                        <div class="row form-group">
                            <div class="col-lg-3">
                                <ui-select ng-model="test.ItemId" ng-change="receiptLedgerSelectedChange($index,test.ItemId)" name="purchase-details">
                                    <ui-select-match placeholder=" Select Item">{{$select.selected.ItemNameEn}}</ui-select-match>
                                    <ui-select-choices repeat="items.Id as items in itemList | filter: $select.search">
                                        <div ng-bind-html="items.ItemNameEn | highlight: $select.search" name="{{items.ItemNameEn}}"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="amounttext" placeholder="0" ng-model="test.Amount" class="form-control" ng-change="calculateAmount(test.Amount,$index)" maxlength="9" />
                                <div class="help-block" ng-if="checkIntegerAmount(test.Amount,$index)">
                                    <p class="text-error"><span>{{validAmountError}}</span></p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" name="remove-btn" ng-click="removeLedger($index)"><span string-replace="remove"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label><span string-replace="total"></span>:</label>
                        </div>
                        <div class="col-lg-3">
                            <label>{{salesPurchaseVouchers.totalAmount}}</label>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
                <br />
                <div ng-show="panelBank">
                    <label><span string-replace="bankdetails"></span></label>
                    <hr />
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="ledgername"></span>:</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><span string-replace="purchase"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="date"></span>:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" name="date" class="form-control" ng-model="salesPurchaseVouchers.ChequeDate" datepicker-popup="{{format}}" datepicker-popup="dd-MMMM-yyyy" is-open="isDatePikcerOpened" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="chequeno"></span>.:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="cheque" class="form-control" ng-model="salesPurchaseVouchers.ChequeNo" maxlength="15" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="receivedfrom"></span>:</label>
                                <div class="col-sm-8">
                                    <label class="control-label" name="received-from" ng-model="salesPurchaseVouchers.AccountId">Purchase</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="bankname"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="bank-name" ng-model="salesPurchaseVouchers.BankName" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="transactiontype"></span>:</label>
                                <div class="col-sm-8">
                                    <ui-select ng-model="salesPurchaseVouchers.ParamTypeId" name="transaction">
                                        <ui-select-match placeholder="Select Type">{{$select.selected.ValueEn}}</ui-select-match>
                                        <ui-select-choices repeat="params.Id as params in paramTypes | filter: $select.search">
                                            <div ng-bind-html="params.ValueEn | highlight: $select.search" name="{{params.ValueEn}}"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <p class="text-error m-b-0" ng-show="isTranscationType">{{transcationTypeRequired}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="branch"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="branch" ng-model="salesPurchaseVouchers.BankBranch" maxlength="120" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-11">
                        <label class="control-label p-0"><span string-replace="narration"></span>:</label>
                        <div>
                            <textarea class="form-control" name="narration" ng-model="salesPurchaseVouchers.narration" maxlength="250"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="text-center">
                <button name="submit-btn" string-replace="submitpos" class="btn btn-primary m-r-10" ng-click="saveSalesPurchaseVoucher(salesPurchaseVouchers,salesPurchaseDetails,false)" ng-disabled="addSales.$invalid"></button>
                <button class="btn btn-primary m-r-10" name="cancel-btn" ng-click="ClearControl()"><span string-replace="cancelpos"></span> </button>
            </div>
        </div>
    </div>
</div>