@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/Content/Maincss")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    <title>Forgot Password</title>
</head>
<body>
    <div style="width:500px;text-align:center;margin:10% auto 0">
        <hgroup class="title">
            <h2 class="text-danger">Locked out.</h2>
        </hgroup>
        <div>
            <p class="text-error">
                This account has been locked out, please try again later.
            </p>
        </div>

    </div>
</body>
</html>