<div ng-controller="inventoryMoniterController">
    <div class="panel panel-default" ng-init="getAllInventoryList()">
        <div ng-if="!isAllowMoniterView">
            <div class="panel-heading"><span string-replace="stockinventory"></span></div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="branch"></span>:</label>
                                <div class="col-sm-8">
                                    <ui-select name="branchName" ng-model="search.BranchId" required>
                                        <ui-select-match placeholder="Select Branch Name">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="branch.BranchId as branch in branchList | filter: $select.search">
                                            <div ng-bind-html="branch.Name | highlight: $select.search" name="{{branch.Name}}"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="inventorytype"></span>:</label>
                                <div class="col-sm-8">
                                    <ui-select name="inventoryType" ng-model="search.ParamTypeId">
                                        <ui-select-match placeholder="Select Type">{{$select.selected.ValueEn}}</ui-select-match>
                                        <ui-select-choices repeat="inventory.ParamTypeId as inventory in inventoryTypeCollection | filter: $select.search">
                                            <div ng-bind-html="inventory.ValueEn | highlight: $select.search" name="{{inventory.ValueEn}}"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="inventoryno"></span>.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="20" ng-model="search.InventoryNO" name="inventoryno" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="barcode"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="18" ng-model="search.Barcode" name="barcode" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="suppliername"></span>:</label>
                                <div class="col-sm-8">
                                    <ui-select ng-model="search.SupplierId" name="supplier">
                                        <ui-select-match placeholder="Select Supplier">{{$select.selected.NameEn}}</ui-select-match>
                                        <ui-select-choices repeat="supplier.SupplierProfileId as supplier in supplierCollection | filter: $select.search">
                                            <div ng-bind-html="supplier.NameEn | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="category"></span>:</label>
                                <div class="col-sm-8">
                                    <ui-select ng-model="search.CategoryId" name="category">
                                        <ui-select-match placeholder="Select Category">{{$select.selected.CategoryName}}</ui-select-match>
                                        <ui-select-choices repeat="category.CategoryId as category in categoryCollection | filter: $select.search">
                                            <div ng-bind-html="category.CategoryName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-primary" name="search-btn" ng-click="searchIssueInventoryDetails()"><span string-replace="search"></span></button>
                    </div>
                </div>
                <div class="alert alert-success text-center" role="alert" ng-show="errorMessageDisplayForBlankList">
                    <span>{{noRecordFound}}</span>
                </div>
                <br />
                <div ng-hide="errorMessageDisplayForBlankList">
                    <div>
                        <label><span string-replace="inventoryworklist"></span></label>
                        <hr />
                        <table class="table table-striped table-bordered table-hover" name="inventory-worklist-grid">
                            <thead>
                                <tr>
                                    <th><span string-replace="branch"></span></th>
                                    <th><span string-replace="type"></span> </th>
                                    <th><span string-replace="inventoryno"></span></th>
                                    <th><span string-replace="startdate"></span></th>
                                    <th><span string-replace="enddate"></span></th>
                                    <th ng-if="$root.merchatSettings.IsAllowUnmatchedItemRecover"><span string-replace="system"></span></th>
                                    <th><span string-replace="self"></span></th>
                                    <th><span string-replace="status"></span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="inventory in inventoryColletion| itemsPerPage: 10">
                                    <td>{{inventory.BranchName}}</td>
                                    <td>{{inventory.InventoryType}}</td>
                                    <td>{{inventory.InventoryNO}}</td>
                                    <td>{{inventory.StartDate| date:'dd-MM-yyyy'}}</td>
                                    <td>{{inventory.CloseDate| date:'dd-MM-yyyy'}}</td>
                                    <td ng-if="inventory.IsTotalQuantity && $root.merchatSettings.IsAllowUnmatchedItemRecover"><span tooltip="{{inventory.TotalQuantity}}">{{inventory.SystemAmount}}</span></td>
                                    <td ng-if="!inventory.IsTotalQuantity && $root.merchatSettings.IsAllowUnmatchedItemRecover">{{inventory.SystemAmount}}</td>
                                    <td>{{inventory.ShelfAmount}}</td>
                                    <td>{{inventory.WorkFlowStatus}}</td>
                                    <td class="action-td-width">
                                        <div class="action-td">
                                            <a title="View" name="inventory-worklist-view" ng-click="viewIssueStockInventoryMoniterDetailsById(inventory.IssueStockInventoryId)"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="inventoryColletion.length >0" style="text-align:center">
                            <dir-pagination-controls boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="isAllowMoniterView">
            <div class="panel-heading"><span string-replace="inventorymonitor"></span></div>
            <div class="panel-body">
                <label><span string-replace="issuestockinventory"></span></label>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="inventoryno"></span>.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="inventorynumber" ng-model="issueInventoryDetails.InventoryNO" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="branch"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" maxlength="255" ng-disabled="true" class="form-control" name="branch" ng-model="issueInventoryDetails.BranchName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="startdate"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-disabled="true" class="form-control" name="startdate" ng-model="issueInventoryDetails.StartDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="inventorytype"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-disabled="true" class="form-control" name="inventorytype" ng-model="issueInventoryDetails.InventoryType" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="item"></span>:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-disabled="true" class="form-control" name="item" ng-model="issueInventoryDetails.Barcode" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 control-label"><span string-replace="initiationcomment"></span>:</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" maxlength="350" name="initiationcomment"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <label><span string-replace="inventoryprogress"></span></label>
                        <hr />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-7 p-0"><span string-replace="shelfquantity"></span>:</label>
                                    <div class="col-sm-5">
                                        <a href="#">0</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-7 p-0"><span string-replace="quantityprogress"></span>:</label>
                                    <div class="col-sm-5">
                                        <a href="#">10%</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label><span string-replace="recordersprogress"></span></label>
                        <hr />
                        <table class="table table-striped table-bordered table-hover" name="recorder-grid">
                            <thead>
                                <tr>
                                    <th><span string-replace="employee"></span></th>
                                    <th><span string-replace="quantity"></span></th>
                                    <th><span string-replace="progress"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Employee1</td>
                                    <td>11</td>
                                    <td>5%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div class="row text-center">
                    <span string-replace="chartsection"></span>
                </div>
                <div class="row text-center">
                    <button class="btn btn-primary m-r-10" name="start-btn" ng-if="$root.merchatSettings.IsAllowInventoryStart && issueInventoryDetails.IsInitiate"><span string-replace="start"></span></button>
                    <button class="btn btn-default" name="cancel-btn" ng-click="cancelIssueInventory()"><span string-replace="cancelpos"></span></button>
                </div>
            </div>
        </div>
        <div id="busyindicator" class="busy-indicator" ng-show="isDataLoading">
            <img src="/Content/Images/Loader.gif" />
        </div>
    </div>
</div>


