<div ng-controller="issueStockInventoryController">
    <div class="panel panel-default">
        <div class="panel-heading"><span string-replace="issuestockinventory"></span></div>
        <div class="panel-body">
            <div class="alert alert-success text-center" role="alert" ng-show="isErrorMessageDisplay">
                <span>{{noRecordFound}}</span>
            </div>
            <div ng-hide="isErrorMessageDisplay">
                <form name="issueInventory" novalidate>
                    <div class="form-horizontal" ng-class="{'disabled':isBranchConflict}">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-0"><span string-replace="branch"></span>:</label>
                                    <div class="col-sm-8">
                                        <div ng-dropdown-multiselect ng-model="branchModel" name="branchOther" options="branchList" class="multi-select-dropdown" selected-model="branchModel" checkboxes="true" extra-settings="selectsettings"></div>
                                        <span class="error">*</span>
                                        <div class="help-block">
                                            <p ng-show="isBranchRequired" class="text-error">{{branchRequired}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-0"><span string-replace="inventorytype"></span>:</label>
                                    <div class="col-sm-8">
                                        <ui-select name="inventoryType" ng-model="issueInventoryDetails.ParamTypeId" on-select="changeInventoryType(issueInventoryDetails.ParamTypeId)">
                                            <ui-select-match placeholder="Select Type">{{$select.selected.ValueEn}}</ui-select-match>
                                            <ui-select-choices repeat="inventory.ParamTypeId as inventory in inventoryTypeCollection | filter: $select.search">
                                                <div ng-bind-html="inventory.ValueEn | highlight: $select.search" name="{{inventory.ValueEn}}"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-if="isCategoryPanelVisible">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-0"><span string-replace="category"></span>:</label>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="issueInventoryDetails.CategoryId" name="category" ng-disabled="true">
                                            <ui-select-match placeholder="Select Category">{{$select.selected.CategoryName}}</ui-select-match>
                                            <ui-select-choices repeat="category.CategoryId as category in categoryCollection | filter: $select.search">
                                                <div ng-bind-html="category.CategoryName | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-if="isSupplierPanelVisible">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-0"><span string-replace="supplier"></span>:</label>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="issueInventoryDetails.SupplierId" name="supplier" ng-disabled="true">
                                            <ui-select-match placeholder="Select Supplier">{{$select.selected.NameEn}}</ui-select-match>
                                            <ui-select-choices repeat="supplier.SupplierProfileId as supplier in supplierCollection | filter: $select.search">
                                                <div ng-bind-html="supplier.NameEn | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-if="isItemPanelVisible">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-0"><span string-replace="barcode"></span>:</label>
                                    <div class="col-sm-8">
                                        <input type="text" maxlength="18" class="form-control" ng-disabled="true" ng-model="issueInventoryDetails.Barcode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <label class="control-label col-sm-4 p-0"><span string-replace="startdate"></span>:</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" name="startdate" min-date="minStartDate" disabled class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="issueInventoryDetails.StartingDate" is-open="isOpenStartDateFromModel" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openStartDateFromModel($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success text-center" role="alert" ng-hide="isDisplayItemDetails">
                        <span>{{noRecordFound}}</span>
                    </div>
                    <div ng-show="isDisplayItemDetails">
                        <br />
                        <label><span string-replace="itemdetails"></span></label>
                        <hr />
                        <table class="table table-striped table-bordered table-hover" name="item-grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><span string-replace="itemnamepos"></span></th>
                                    <th><span string-replace="itemBarcode"></span></th>
                                    <th><span string-replace="itemcode"></span></th>
                                    <th><span string-replace="itemflavour"></span></th>
                                    <th><span string-replace="category"></span></th>
                                    <th><span string-replace="unit"></span></th>
                                </tr>
                            </thead>

                            <tbody dir-paginate="item in inventoryItemCollection| itemsPerPage: 10">
                                <tr>
                                    <td id="{{item.Id}}"><a class="pointer" ng-click="getSubItemList(item.Id)" name="plus-link" ng-show="item.HasChildItem"><i attr="item.Id" class="fa fa-plus action-icon"></i></a></td>
                                    <td>{{item.ItemNameEn}}</td>
                                    <td>{{item.Barcode}}</td>
                                    <td>{{item.Code}}</td>
                                    <td>{{item.FlavourEn}}</td>
                                    <td>{{item.ItemType}}</td>
                                    <td>{{item.Unit}}</td>
                                </tr>
                                <tr id="subChild{{item.Id}}" ng-if="item.HasChildItem" class="isHide sub-grid-list">
                                    <td colspan="10">
                                        <table class="table table-striped table-bordered table-hover sub-table" name="sub-table">
                                            <thead>
                                                <tr>
                                                    <th><span string-replace="itemnamepos"></span></th>
                                                    <th><span string-replace="itemBarcode"></span></th>
                                                    <th><span string-replace="itemcode"></span></th>
                                                    <th><span string-replace="itemflavour"></span></th>
                                                    <th><span string-replace="category"></span></th>
                                                    <th><span string-replace="unit"></span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pointer" ng-repeat="subItem in item.listOfChildProfileAC">
                                                    <td>{{subItem.ItemNameEn}}</td>
                                                    <td>{{subItem.Barcode}}</td>
                                                    <td>{{subItem.Code}}</td>
                                                    <td>{{subItem.FlavourEn}}</td>
                                                    <td>{{subItem.ItemType}}</td>
                                                    <td>{{subItem.Unit}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="inventoryItemCollection.length >0" style="text-align:center">
                            <dir-pagination-controls boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></dir-pagination-controls>
                        </div>
                    </div>
                    <div ng-if="isBranchConflict">
                        <label><span string-replace="branchconflictdetails"></span></label>
                        <hr />
                        <table class="table table-striped table-bordered table-hover" name="item-grid">
                            <thead>
                                <tr>
                                    <th><span string-replace="branchname"></span></th>
                                    <th><span string-replace="type"></span></th>
                                    <th><span string-replace="status"></span></th>
                                    <th><span string-replace="datepos"></span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody dir-paginate="branch in issueInventoryDetails.BranchList| itemsPerPage: 10">
                                <tr>
                                    <td>{{branch.BranchName}}</td>
                                    <td>{{branch.CategoryType}}</td>
                                    <td>{{branch.Status}}</td>
                                    <td>{{branch.Date| date:'dd-MM-yyyy'}}</td>
                                    <td><input ng-disabled="branch.IsAlreadyExist" type="checkbox" ng-model="branch.IsInventorySelected"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="issueInventoryDetails.BranchList.length >0" style="text-align:center">
                            <dir-pagination-controls boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></dir-pagination-controls>
                        </div>
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-primary m-r-10" ng-if="!isBranchConflict" name="submit-btn" ng-disabled="issueInventory.$invalid || isIssueButtonDisabled || branchModel.length == 0" ng-click="submitIssueStockInventory(issueInventoryDetails)"><span string-replace="issueinventory"></span></button>
                        <button class="btn btn-primary m-r-10" ng-if="isBranchConflict" name="submit-btn" ng-disabled="checkConflictBranchSelectedOrNot()?false:true" ng-click="submitConflictBranchIssueInventory(issueInventoryDetails)"><span string-replace="issueinventory"></span></button>
                        <button class="btn btn-default" ng-click="clearIssueInventory()"><span string-replace="cancelpos"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div id="busyindicator" class="busy-indicator" ng-show="isDataLoading">
            <img src="/Content/Images/Loader.gif" />
        </div>
    </div>
</div>