<div ng-controller="SupplierPOController">
    <form name="addSPO" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading"><span string-replace="supplierpurchaseorder"></span></div>
            <div class="panel-body">
                <br />
                <div class="form-horizontal">
                    <label><span string-replace="selectbranchandsupplier"></span></label>
                    <hr />
                    <div class="row">
                        <div class="col-lg-4" ng-if="($root.merchatSettings.IsAllowToCreateSupplierPurchaseOrderForOtherBranch || $root.merchatSettings.IsAllowToAccessAllBranch)">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="branch"></span>:</label>
                                <div class="col-sm-8" ng-class="{ 'has-error': addSPO.branchOther.$touched && addSPO.branchOther.$invalid }">
                                    <div ng-dropdown-multiselect ng-model="branchModel" name="branchOther" options="branchList" class="multi-select-dropdown" selected-model="branchModel" checkboxes="true" extra-settings="selectsettings"></div>
                                    <span class="error">*</span>
                                    <div class="help-block" ng-messages="addSPO.branchOther.$error" ng-if="addSPO.branchOther.$touched">
                                        <p ng-message="required" class="text-error">{{branchNameRequired}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" ng-if="!($root.merchatSettings.IsAllowToCreateSupplierPurchaseOrderForOtherBranch || $root.merchatSettings.IsAllowToAccessAllBranch)">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="branch"></span>:</label>
                                <div class="col-sm-8" ng-class="{ 'has-error': addSPO.branchOther.$touched && addSPO.branchOther.$invalid }">
                                    <div ng-dropdown-multiselect ng-model="branchModel" name="branchOther" options="branchList" class="multi-select-dropdown isdisable-class" selected-model="branchModel" checkboxes="true" extra-settings="selectsettings"></div>
                                    <span class="error">*</span>
                                    <div class="help-block" ng-messages="addSPO.branchOther.$error" ng-if="addSPO.branchOther.$touched">
                                        <p ng-message="required" class="text-error">{{branchNameRequired}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" ng-show="isEdit">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="supplier"></span>.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="supplier" id="" ng-model="supplierPO.SupplierName" ng-disabled="true" maxlength="255">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" ng-hide="isEdit">
                            <div class="form-group">
                                <label class="control-label col-sm-4 p-0"><span string-replace="supplier"></span>:</label>
                                <div class="col-sm-8" ng-class="{ 'has-error': addSPO.supplier.$touched && addSPO.supplier.$invalid }">
                                    <ui-select ng-model="supplierPO.supplier" name="supplier" ng-required="!isEdit">
                                        <ui-select-match placeholder="Select">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="supplier as supplier in supplierList | filter: $select.search">
                                            <div ng-bind-html="supplier.Name | highlight: $select.search" name="{{supplier.Name}}"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="error">*</span>
                                    <div class="help-block" ng-messages="addSPO.supplier.$error" ng-if="addSPO.supplier.$touched">
                                        <p ng-message="required" class="text-error">{{supplierRequired}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" ng-hide="isEdit">
                        <button class="btn btn-primary m-r-10" name="submit-btn" ng-disabled="addSPO.supplier.$invalid" ng-click="getSupplierItem(supplierPO.supplier)"><span string-replace="getitems"></span></button>
                        <button class="btn btn-default" name="cancel-btn" ng-click="close()"><span string-replace="close"></span></button>
                    </div>

                    <br />
                    <div class="alert alert-success text-center" role="alert" ng-show="itemTotalCollection.length==0">
                        <span>{{noItemFound}}</span>
                    </div>
                    <div ng-if="itemTotalCollection.length>0">
                        <label><span string-replace="itemdetails"></span></label>
                        <table class="table table-striped table-bordered table-hover" name="item-grid">
                            <thead>
                                <tr>
                                    <td colspan="6" style="padding:8px 0">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 p-0"><span string-replace="itemname"></span>:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="search.ItemNameEn" maxlength="255" name="itemname" id="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 p-0"><span string-replace="itemcode"></span>:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="search.Code" maxlength="20" name="itemcode" id="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 p-0"><span string-replace="barcode"></span>:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="barcode" maxlength="18" id="" ng-model="search.Barcode">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span string-replace="itemname"></span></th>
                                    <th><span string-replace="barcodepos"></span></th>
                                    <th><span string-replace="type"></span></th>
                                    <th><span string-replace="suppliername"></span></th>
                                    <th class="text-center">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" ng-model="itemSelection.Select" ng-click="selectAll()"><span string-replace="selectall"></span>
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody dir-paginate="item in itemTotalCollection | filter : search | itemsPerPage: 10">
                                <tr>
                                    <td class="grid-width">{{item.ItemNameEn}}</td>
                                    <td class="grid-width">{{item.Barcode}}</td>
                                    <td class="grid-width">{{item.Type}}</td>
                                    <td class="grid-width">{{supplierName}}</td>
                                    <td class="text-center">
                                        <div class="action-td">
                                            <div class="checkbox">
                                                <input type="checkbox" value="" ng-model="item.IsSelected">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="padding:8px;text-align:right">
                                        <button class="btn btn-primary" ng-click="addPurchaseOrderGrid()" name="add-btn"><span string-replace="addselecteditem"></span></button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div ng-show="itemTotalCollection.length >0" style="text-align:center">
                            <dir-pagination-controls boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></dir-pagination-controls>
                        </div>
                        <br />
                    </div>
                    <div class="alert alert-success text-center" role="alert" ng-show="purchaseOrderList.length==0 && itemTotalCollection.length > 0 ">
                        <span>{{cpoListEmptyError}}</span>
                    </div>
                    <div id="polist-section">
                        <div ng-show="purchaseOrderList.length > 0">
                            <label><span string-replace="purchaseitemorder"></span></label>
                            <hr />
                            <table class="table table-striped table-bordered table-hover spo-grid" name="item-order-grid">
                                <thead>
                                    <tr>
                                        <th><span string-replace="barcode"></span></th>
                                        <th><span string-replace="code"></span></th>
                                        <th><span string-replace="unit"></span></th>
                                        <th><span string-replace="name"></span></th>
                                        <th><span string-replace="flavor"></span></th>
                                        <th><span string-replace="supplier"></span></th>
                                        <th><span string-replace="costprice"></span></th>
                                        <th><span string-replace="orderqty"></span>.</th>
                                        <th><span string-replace="ordercostprice"></span></th>
                                        <th><span string-replace="freeqty"></span>.</th>
                                        <th><span string-replace="discountpos"></span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="po in purchaseOrderList">
                                    <tr>
                                        <td class="grid-lg-width text-wrap" title="{{po.Barcode}}">{{po.Barcode}}</td>
                                        <td class="code-td text-wrap" title="{{po.Code}}">{{po.Code}}</td>
                                        <td>{{po.Type}}</td>
                                        <td>{{po.ItemNameEn}}</td>
                                        <td>{{po.FlavourEn}}</td>
                                        <td class="grid-width">{{supplierName}}</td>
                                        <td class="grid-width" style="max-width:62px">{{po.CostPrice}}</td>
                                        <td>
                                            <div style="white-space: nowrap;">
                                                <input type="text" class="form-control" style="width: 58px;" ng-pattern="/^0*(?:[1-9][0-9]{5}|[1-9][0-9]{4}|[1-9][0-9]{3}|[1-9][0-9]{2}|[1-9][0-9]|[1-9])$/" ng-change="onQuantityChange(po)" ng-model="po.OrderQuantity" name="orderqty" maxlength="6" />
                                                <span class="error">*</span>
                                            </div>
                                            <div class="help-block" ng-messages="addSPO.orderqty.$error" ng-if="addSPO.orderqty.$touched">
                                                <p ng-message="pattern" class="text-error">{{validQuantityError}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="white-space: nowrap;" ng-class="{ 'has-error': addSPO.ordercp.$touched && addSPO.ordercp.$invalid }">
                                                <input type="text" class="form-control" style="width:83px" ng-pattern="/^0*(?!0\d|$)\d{1,8}(\.\d{1,4})?$/" ng-disabled="!po.OrderQuantity" ng-change="onQuantityChange(po)" ng-model="po.OrderCostPrice" maxlength="13" name="ordercp" />
                                                <span class="error">*</span>
                                            </div>
                                            <div class="help-block" ng-messages="addSPO.ordercp.$error" ng-if="addSPO.ordercp.$touched">
                                                <p ng-message="pattern" class="text-error">{{validCostPriceError}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" style="width:50px" ng-disabled="!(po.OrderQuantity && po.OrderCostPrice)" ng-change="onQuantityChange(po)" ng-pattern="/^0*(?:[0-9][0-9]{5}|[0-9][0-9]{4}|[0-9][0-9]{3}|[0-9][0-9]{2}|[0-9][0-9]|[0-9])$/" ng-model="po.FreeQuantity" name="free-qty" maxlength="6" />
                                            <div class="help-block" ng-messages="addSPO.free-qty.$error" ng-if="addSPO.free-qty.$touched">
                                                <p ng-message="pattern" class="text-error">{{validQuantityError}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" style="width: 62px;" ng-disabled="true" ng-model="po.PercentageDiscount" name="discount" maxlength="6" ng-pattern="^[0-9]{0,2}(\.[0-9]{1,2})?$|^(100)(\.[0]{1,2})?$" />
                                            <div class="help-block" ng-messages="addSPO.discount.$error" ng-if="addSPO.discount.$touched">
                                                <p ng-message="pattern" class="text-error">{{ValidDiscountMessage}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="action-td">
                                                <a title="Delete" name="item-order-link" ng-click="openPOItemDeletePopup(po.ItemId)"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div class="form-horizontal">
                                <div class="row">
                                    <label class="control-label col-lg-2 p-0"><span string-replace="duedatetoreceive"></span>:</label>
                                    <div class="col-lg-3">
                                        <div class="input-group">
                                            <input type="text" name="duedate" min-date="minStartDate" disabled class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="supplierPO.DueDate" is-open="isDueDatePickerOpened" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openDueDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-10" ng-if="($root.merchatSettings.IsAllowToCreateSupplierPurchaseOrderForOtherBranch || $root.merchatSettings.IsAllowToAccessAllBranch)">
                                    <label class="control-label col-lg-2 p-0"><span string-replace="initiationbranch"></span>:</label>
                                    <div class="col-lg-3" ng-class="{ 'has-error': addSPO.initiationbranch.$touched && addSPO.initiationbranch.$invalid }">
                                        <ui-select ng-model="supplierPO.InitiationBranchId" name="initiationbranch" ng-required="($root.merchatSettings.IsAllowToCreateSupplierPurchaseOrderForOtherBranch || $root.merchatSettings.IsAllowToAccessAllBranch)" ng-disabled="isEdit">
                                            <ui-select-match placeholder="Select Your Branch">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="branch.Id as branch in branchList | filter: $select.search">
                                                <div ng-bind-html="branch.Name | highlight: $select.search" name="{{branch.Name}}"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="error">*</span>
                                        <div class="help-block" ng-messages="addSPO.initiationbranch.$error" ng-if="addSPO.initiationbranch.$touched">
                                            <p ng-message="required" class="text-error">{{branchNameRequired}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-t-10" ng-if="!($root.merchatSettings.IsAllowToCreateSupplierPurchaseOrderForOtherBranch || $root.merchatSettings.IsAllowToAccessAllBranch)">
                                    <label class="control-label col-lg-2 p-0"><span string-replace="initiationbranch"></span>:</label>
                                    <div class="col-lg-3" ng-class="{ 'has-error': addSPO.initiationbranch.$touched && addSPO.initiationbranch.$invalid }">
                                        <ui-select ng-model="supplierPO.InitiationBranchId" name="initiationbranch" disabled ng-required="!($root.merchatSettings.IsAllowToCreateSupplierPurchaseOrderForOtherBranch || $root.merchatSettings.IsAllowToAccessAllBranch)" ng-disabled="isEdit">
                                            <ui-select-match placeholder="Select Your Branch">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="branch.Id as branch in branchList | filter: $select.search">
                                                <div ng-bind-html="branch.Name | highlight: $select.search" name="{{branch.Name}}"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="error">*</span>
                                        <div class="help-block" ng-messages="addSPO.initiationbranch.$error" ng-if="addSPO.initiationbranch.$touched">
                                            <p ng-message="required" class="text-error">{{ownBranchSelectError}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-t-10">
                                    <label class="col-lg-2 control-label p-0"><span string-replace="comment"></span>:</label>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" name="comment" ng-model="supplierPO.InitiationComment" maxlength="350"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row text-center" ng-show="purchaseOrderList.length > 0">
                        <div class="text-center" ng-show="isEdit">
                            <button class="btn btn-primary m-r-10" name="submit-btn" ng-disabled="addSPO.$invalid || supplierPO.DueDate == null" ng-click="updateSPO(supplierPO)"><span string-replace="submitpos"></span></button>
                            <button class="btn btn-default" name="cancel-btn" ng-click="close()"><span string-replace="close"></span></button>
                        </div>
                        <div class="text-center" ng-hide="isEdit">
                            <button class="btn btn-primary m-r-10" name="submit-btn" ng-disabled="addSPO.$invalid" ng-click="saveSupplierPO(supplierPO,1)"><span string-replace="submitpos"></span></button>
                            <button class="btn btn-primary m-r-10" name="submit-btn" ng-disabled="addSPO.$invalid" ng-click="saveSupplierPO(supplierPO,2)"><span string-replace="save"></span></button>
                            <button class="btn btn-default" name="cancel-btn" ng-click="close()"><span string-replace="close"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="AddItemtoSPOPopup">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closeItemAddtoSPOPopup()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span string-replace="oops"></span></h4>
        </div>
        <div class="modal-body" ng-if="isEmptyItemList">
            {{noItemAddedToPO}}
        </div>
        <div class="modal-body" ng-if="isEmptyItemQuantity">
            {{quantityCPError}}
        </div>
        <div class="modal-body" ng-show="!isEmptyItemQuantity">
            <div ng-show="!isEmptyItemList">
                {{itemAddedError}}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="closeItemAddtoSPOPopup()"><span string-replace="okay"></span></button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ItemQuantityErrorPopup">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closeItemQuantityErrorPopup()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span string-replace="oops"></span></h4>
        </div>
        <div class="modal-body" ng-hide="branchError">
            {{lessQuantityPlease}} {{actualQuantity}}.
        </div>
        <div class="modal-body" ng-show="branchError">
            {{branchNameRequired}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="closeItemQuantityErrorPopup()"><span string-replace="okay"></span></button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="POItemDeletePopup">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closePOItemDeletePopup()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span string-replace="deleteconfirmation"></span></h4>
        </div>
        <div class="modal-body">
            <span string-replace="areyousureyouwanttodelete"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="deletePurchaseOrderGrid(poItemId)"><span string-replace="yes"></span></button>
            <button type="button" class="btn btn-primary" ng-click="closePOItemDeletePopup()"><span string-replace="no"></span></button>
        </div>
    </div>
</script>
