<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

   
 <!--See https://github.com/nlog/nlog/wiki/Configuration-file 
 for information on customizing logging rules and outputs.-->
  
  <targets>
     <!--add your targets here--> 
      <!--for log file-->
    <target xsi:type="File" name="filelog" fileName="${basedir}/logs/${shortdate}.log"
            layout="${newline}${longdate} ${uppercase:${level}} ${message}" archiveFileName="${basedir}/logs/archives/{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="15"
            archiveDateFormat="yyyy-MM-dd"
            keepFileOpen="false"
            encoding="iso-8859-2" />

    <target name="file" xsi:type="File"
    layout="Time : ${time} ${newline}Message : ${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
    fileName="${basedir}/logs/${level}_${shortdate}.log" />
    
    <!--for database-->
    <target name="database" xsi:type="Database" 
             dbProvider="System.Data.SqlClient"
             connectionString="data source=(localdb)\merchantservice;initial catalog=merchantservice;integrated security=true"
             commandText="INSERT INTO LogInfoes(LogDate, LogLevel, LogLogger, LogMessage, LogMachineName, LogCallSite, LogThread, LogException, LogStackTrace) VALUES (@EventDateTime, @EventLevel, @logger,@EventMessage, @MachineName,  @call_site,@threadid, @log_exception, @stacktrace)">
      <!-- parameters for the command -->
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@threadid" layout="${threadid}"/> 
      <parameter name="@log_exception" layout="${exception}"/> 
      <parameter name="@stacktrace" layout="${stacktrace}"/>
      <parameter name="@ErrorClass" layout="${event-context:item=error-class}" />
      <!--<parameter name="@UserName" layout="${aspnet-user-identity}" />-->
      <!--<parameter name="@ErrorMethod" layout="${event-context:item=error-method}" />
      <parameter name="@ErrorMessage" layout="${event-context:item=error-message}" />-->
      <!--<parameter name="@ErrorSource" layout="${event-context:item=error-source}" />
      <parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />-->
    </target>
  
    <!--send error in mail-->
    <target name="mail" xsi:type="Mail" html="true" subject="Error Received" body="Time: ${longdate}${newline}Message:${newline}${message}${newline}Exception:${newline}${exception:format=tostring}"         
         to="pooja@promactinfo.com"

         replaceNewlineWithBrTagInHtml="true"
         footer="Merchant Service"   
         from ="support@promactinfo.com"   
         smtpAuthentication="Basic"
         useSystemNetMailSettings="true"    
         Encoding="UTF-8" />
    
   <!--send info in mail-->
   <!--<target name="mailInfo" xsi:type="Mail" html="true" subject="Info Received" body="Info:${message}${newline}"         
         to="pooja@promactinfo.com"

         replaceNewlineWithBrTagInHtml="true"
         footer="Merchant Service"   
         from ="support@promactinfo.com"   
         smtpAuthentication="Basic"
         useSystemNetMailSettings="true"    
         Encoding="UTF-8" />-->
  

  
  </targets>

   
  <rules>
     <!--add your logging rules here--> 

    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" appendTo="database"/>
    <logger name="*" minlevel="Error" writeTo="mail" />
    <!--<logger name="*" minlevel="Info" writeTo="mailInfo" />-->

  </rules>
</nlog>