<div>
    <div class="panel panel-default">
        <div class="panel-heading">System Constant</div>
        <div class="panel-body">
            <div>
                <label>Add System Constant</label>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-md-4 control-label">System Constant</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="" maxlength="255" name="system-constant">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <input type="submit" value="Add" class="btn btn-primary m-r-10" name="add-btn"/>
                            <input type="button" value="Cancel" class="btn btn-default" name="cancel-btn"/>
                        </div>
                    </div>
                </div>
            </div> 
            <div>
                <br />
                <label>System Constant</label>
                <hr />
                <table class="table table-striped table-bordered table-hover" name="system-constant-grid">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actoin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ABC</td>
                            <td class="action-td-width">
                                <div class="action-td">
                                    <a title="Edit" name="constant-edit"><i class="fa fa-edit"></i></a>
                                    <a title="Delete" name="constant-delete"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>         
        </div>
    </div>  
</div>